/*--------------Barrra de navegacion------------*/
.navbar{
    padding: 1rem; ;
}
.btn-outline-primary{
color:#1abc9c;
border-color:#1abc9c;
}
.btn-outline-primary:hover{
    color:#fff;
    background-color:#1abc9c;
    border-color:#1abc9c;
}
.btn-primary{
    background-color:#1abc9c;

    border:none;


}
.btn-primary:hover{
    background-color:#16a085;
}
/*----------Seccion de introduccion-----------*/
/*----------Seccion de nosotros----------*/
/*-------------seccion de caracteristicas-------*/
/*----------Seccion de Testimonios------*/
/*--------seccion de Equipo---------*/
/*---------Seccion de Contacto-----*/
/*--------Seccion de Footer--------*/
/*-----------Botón volver al principio-------*/
/*--- media queries(permite hacer que la landing se adapte a multiple sipodiyivos destpok y mobile)---*/
