/*--------------Barrra de navegacion------------*/
/*----------Seccion de introduccion-----------*/
/*----------Seccion de nosotros----------*/
#features{
    background-color: #f8f9fa;
padding:60px 0;
}
.feature.icon{
    width:100%;
    height:auto;
    margin-bottom:15px;
}
/*-------------seccion de caracteristicas-------*/
/*----------Seccion de Testimonios------*/
/*--------seccion de Equipo---------*/
/*---------Seccion de Contacto-----*/
/*--------Seccion de Footer--------*/
/*-----------Botón volver al principio-------*/
/*--- media queries(permite hacer que la landing se adapte a multiple sipodiyivos destpok y mobile)---*/
